/*-- BASE -- */
@font-face {
    font-family: 'icones';
    src: url(../font/icomoon.ttf);
}


:root {
    --font-titulo: 'Yanone Kaffeesatz', sans-serif;
    --font-sub-titulo: 'Josefin Sans', sans-serif;
    --font-corpo: 'Spline Sans', sans-serif;

    --clr: #222;
    --verdin: #29fd53;
}

* {
    box-sizing: border-box;
    
}

body {
    font-family: var(--font-corpo);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #444;
    overflow-x: hidden;
}
/* -- TENTATIVA MENU -- */ 

header {
    position: fixed;
    bottom: 50px;
    left: 10px;
}

.navigation {
    width: 400px;
    height: 70px;
    background: #fff;
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.navigation ul {
    display: flex;
    width: 350px;
}

.navigation ul li {
    position: relative;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}

.navigation ul li.active a .icon {
    transform: translateY(-35px);
}

.navigation ul li a .text {
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li.active a .text {
    transition: 0.5s;
    opacity: 1;
    transform: translateY(10px);
}

.indicator {
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: var(--verdin);
    border-radius: 50%;
    border: 6px solid #2b2b2b;
    transition: 0.5s;
}

.indicator::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 0px -10px 0 0 #2b2b2b;
}

.indicator::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: 0px -10px 0 0 #2b2b2b;
}

.navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(70px * 3));
}

.navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateX(calc(70px * 4));
}

/* -- MENU DESKTOP BRABO -- */

.navegacao {
    position: fixed;
    top: 20px;
    left: 20px;
    bottom: 20px;
    width: 70px;
    border-radius: 10px;
    box-sizing: initial;
    border-left: 5px solid #4d5bf9;
    background: #4d5bf9;
    transition: width 0.5s;
    overflow-x: hidden;
    display: none;
}

.navegacao.aberto {
    width: 300px;
}

.navegacao ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}

.navegacao ul li {
    position: relative;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navegacao ul li.selecionado {
    background: #eaeaea;
}

.navegacao ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    color: #eaeaea;
}

.navegacao ul li.selecionado a {
    color: #222;
}

.navegacao ul li a .icone {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navegacao ul li a .icone ion-icon {
    font-size: 1.5em;
}

.navegacao ul li a .texto {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
}

.menu__desktop {
    position: fixed;
    top: 20px;
    left: 500px;
    width: 70px;
    height: 70px;
    background: #4d5bf9;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}

.menu__desktop.aberto {
    background: tomato;
}

.menu__desktop span {
    position: absolute;
    width: 40px;
    height: 4px;
    border-radius: 10px;
    background: #eaeaea;
    transition: 0.5s;
}

.menu__desktop span:nth-child(1) {
    transform: translateY(-15px);
    width: 25px;
    left: 15px;
}

.menu__desktop.aberto span:nth-child(1) {
    width: 40px;
    transform: translateY(0) rotate(45deg);
    transition-delay: 0.125s;
}

.menu__desktop span:nth-child(2) {
    transform: translateY(15px);
    width: 15px;
    left: 15px;
}

.menu__desktop.aberto span:nth-child(2) {
    width: 40px;
    transform: translateY(0) rotate(315deg);
    transition-delay: 0.25s;
}

.menu__desktop.aberto span:nth-child(3) {
    transform: translateX(60px);
}


/* -- MENU ABRE E FECHA -- */

.menu {
    position: relative;
    width: 70px;
    height: 70px;
    background: #FFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}

.menu span {
    position: absolute;
    width: 40px;
    height: 4px;
    border-radius: 10px;
    background: blueviolet;
    transition: 0.5s;
}

.menu span:nth-child(1) {
    transform: translateY(-15px);
    width: 25px;
    left: 15px;
}

.menu.aberto span:nth-child(1) {
    width: 40px;
    transform: translateY(0) rotate(45deg);
    transition-delay: 0.125s;
}

.menu span:nth-child(2) {
    transform: translateY(15px);
    width: 15px;
    left: 15px;
}

.menu.aberto span:nth-child(2) {
    width: 40px;
    transform: translateY(0) rotate(315deg);
    transition-delay: 0.25s;
}

.menu.aberto span:nth-child(3) {
    transform: translateX(60px);
}

.menu__lista {
    transform: translateX(100vw);
    width: 300px;
    height: 300px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 16px 32px;
    transition: 0.8s;
}

.menu__lista.visivel {
    transform: translateX(0%);
    transition: 0.8s;
}

.menu__lista ul {
    font-size: 32px;
    color: blueviolet;
    font-weight: 800;
    line-height: 80px;
}

/* -- SWITCH TOGGLE BOLADO -- */

#toggle {
    position: absolute;
    bottom: 50px;
    display: none;
    width: 320px;
    height: 160px;
    border-radius: 160px;
    background: var(--clr);
    transition: 0.5s;
    box-shadow: inset 0px 8px 60px rgba(0, 0, 0, 0.1),
                inset 0px 8px 8px rgba(0, 0, 0, 0.1),
                inset 0px -4px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#toggle .indicador__darkmode {
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    height: 160px;
    background: linear-gradient(to bottom, #444, #222);
    border-radius: 50%;
    transform: scale(0.9);
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
                inset 0 4px 4px rgba(255, 255, 255, 0.2),
                inset 0 -4px 4px rgba(255, 255, 255, 0.2);
    transition: 0.5s;
}

#toggle.darkmode__ativo .indicador__darkmode {
    left: 160px;
    background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1),
                inset 0 4px 4px rgba(255, 255, 255, 1),
                inset 0 -4px 4px rgba(255, 255, 255, 1);
    
}

#toggle.darkmode__ativo {
    background: #fff;
    box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1),
                inset 0 2px 8px rgba(0, 0, 0, 0.1),
                inset 0 -4px 4px rgba(0, 0, 0, 0.05);

}

body.darkmode__ativo {
    background: #fff;
}

/* -- DETAILS IMPROVISADO -- */

.details {
    position: absolute;
    top: 50vh;
    left: 40px;
    width: 320px;
    height: 50px;
    background: #fff;
    transition:0.5s;
    border-radius: 4px;
    overflow: hidden;
    display: none;
}

.details.open {
    height: 300px;
    transition:0.5s;
}

.conteudo {
    position: relative;
    width: 100%;
    height: 50px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(17, 207, 255, 0.384);
}